---
import CharacterBodyPart from "./CharacterBodyPart.astro";
import CharacterInfo from "./CharacterInfo.astro";
import womanTexture from "../images/woman.webp";

const gridColumns = 12;
const gridRows = 9;
const gridItems = new Array(gridColumns * gridRows).fill(null);
---

<!-- preload critical images -->
<div aria-hidden="true" class="sr-only">
  <img src={womanTexture.src} alt="" />
</div>

<div class="container">
  <div class="ambient"></div>
  <CharacterInfo />
  <div class="character-wrapper">
    <div class="character">
      <div class="body">
        <CharacterBodyPart name="torso" />
        <CharacterBodyPart name="arm right-arm" />
        <CharacterBodyPart name="arm left-arm" />
        <div class="pelvis">
          <CharacterBodyPart name="leg right-leg" />
          <CharacterBodyPart name="leg left-leg" />
        </div>
        <CharacterBodyPart name="head" />
      </div>
    </div>
  </div>
  <div class="grid">
    {
      gridItems.map(() => (
        <label class="cell">
          <input type="radio" name="c" class="sr-only" />
        </label>
      ))
    }
  </div>
</div>
