---
const items = [
  { name: "Cover", link: "https://www.deviantart.com/trongtuan91" },
  { name: "Pictures", link: "https://www.tolkienestate.com" },
  { name: "Sheet textures", link: "https://www.shutterstock.com" },
  { name: "Frame", link: "https://www.istockphoto.com" },
  { name: "Scroll down icon", link: "https://www.svgrepo.com/svg/522650/scroll-down" },
  { name: "Background", link: "https://chatgpt.com" },
];
---

<details class="credits">
  <summary class="credits-caption">Credits</summary>
  <ul>
    {
      items.map(({ name, link }) => (
        <li>
          {name}
          {" - "}
          <a target="_blank" href={link}>
            {link.replace(/^.*?\/\//, "")}
          </a>
        </li>
      ))
    }
  </ul>
</details>

<style>
  .credits {
    font-size: 1.25rem;
    position: fixed;
    top: 1rem;
    left: 1rem;

    ::marker {
      content: "";
    }

    a {
      color: currentColor;
    }
  }

  .credits-caption {
    cursor: pointer;
  }
</style>
