<details class="credits">
  <summary class="credits-caption">Credits</summary>
  <ul>
    <li>
      Cover - <a target="_blank" href="https://www.deviantart.com/trongtuan91">www.deviantart.com/trongtuan91</a>
    </li>
    <li>
      Pictures - <a target="_blank" href="https://www.tolkienestate.com">www.tolkienestate.com</a>
    </li>
    <li>
      Sheet textures - <a target="_blank" href="https://www.shutterstock.com">www.shutterstock.com</a>
    </li>
    <li>
      Frame - <a target="_blank" href="https://www.istockphoto.com">www.istockphoto.com</a>
    </li>
    <li>
      Scroll down icon - <a target="_blank" href="https://www.svgrepo.com/svg/522650/scroll-down">www.svgrepo.com</a>
    </li>
    <li>Background - ChatGPT</li>
  </ul>
</details>

<style>
  .credits {
    font-size: 1.1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;

    ::marker {
      content: "";
    }

    a {
      color: currentColor;
    }
  }

  .credits-caption {
    cursor: pointer;
  }
</style>
