@font-face {
  /* 
  * https://github.com/rsms/inter
  * https://github.com/philipbelesky/inter-ui
  */
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable-subset.woff2") format("woff2");
}

:root {
  color-scheme: light dark;

  --spacing-unit: 0.125rem;
  --spacing-0: calc(var(--spacing-unit) * 1);
  --spacing-1: calc(var(--spacing-unit) * 2);
  --spacing-2: calc(var(--spacing-unit) * 4);
  --spacing-3: calc(var(--spacing-unit) * 6);
  --spacing-4: calc(var(--spacing-unit) * 8);
  --spacing-5: calc(var(--spacing-unit) * 10);
  --spacing-6: calc(var(--spacing-unit) * 12);
  --spacing-7: calc(var(--spacing-unit) * 14);
  --spacing-8: calc(var(--spacing-unit) * 16);
  --spacing-9: calc(var(--spacing-unit) * 18);

  --font-size-unit: 0.125rem;
  --font-size-sm: calc(var(--font-size-unit) * 7);
  --font-size-base: calc(var(--font-size-unit) * 8);
  --font-size-lg: calc(var(--font-size-unit) * 9);
  --font-size-xl: calc(var(--font-size-unit) * 10);
  --font-size-2xl: calc(var(--font-size-unit) * 12);
  --font-size-3xl: calc(var(--font-size-unit) * 14);
  --font-size-4xl: calc(var(--font-size-unit) * 16);
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

body {
  font-family: InterVariable, system-ui, sans-serif;
  font-optical-sizing: auto;
  font-size: var(--font-size-lg);
  text-rendering: optimizeLegibility;
  background-color: light-dark(#fff, #21252b);
  color: light-dark(#1a1a1a, #fff);
  transition: background-color 0.5s;
  min-height: 100vh;
}

a,
button {
  cursor: pointer;
  outline-offset: var(--spacing-1);
}

a {
  color: var(--color-text);
  text-decoration-line: none;
  text-underline-offset: var(--spacing-0);

  &:hover {
    text-decoration-line: underline;
  }

  &:focus-visible {
    text-decoration-line: none;
  }
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: 600;
  margin-bottom: var(--spacing-3);
}

h2 {
  font-size: var(--font-size-2xl);
  font-weight: 600;
  margin-bottom: var(--spacing-2);
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-bottom: var(--spacing-2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pixelated {
  image-rendering: pixelated;
}

.w-full {
  width: 100%;
}
