@font-face {
  font-family: "InterVariable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  /* https://github.com/rsms/inter */
  src: url("/InterVariable.woff2") format("woff2");
}

:root[data-theme="light"] {
  color-scheme: light;

  --color-background: #fff;
  --color-text: #1a1a1a;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --color-background: #1a1a1a;
  --color-text: #fff;
}

body {
  font-family: "InterVariable", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-size: 1.15rem;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
  min-width: 100vw;
  min-height: 100vh;
}

a,
button {
  outline-offset: 0.3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.container {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation-link {
  color: var(--color-text);
  text-decoration: none;

  &.active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }
}
