---
import { websiteConfig, socialLinks } from "@/website.config";
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear().toString();
const { author } = websiteConfig;
---

<footer class="footer">
  <p class="copy">
    Copyright &copy; <time datetime={year}>{year}</time>
    <span class="copy-author">🚀 {author}</span>
  </p>
  <SocialLinks items={socialLinks} />
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-9);
  }

  .copy {
    margin: 0;
  }

  .copy-author {
    display: inline-block;
    min-width: fit-content;
  }
</style>
