---
import { websiteConfig } from "@/website.config";

const year = new Date().getFullYear().toString();
const { author } = websiteConfig;
---

<footer class="footer">
  <p class="copyright">
    Copyright &copy; <time datetime={year}>{year}</time> 🚀 {author}
  </p>
</footer>
