---
import { websiteConfig, socialLinks } from "@/website.config";
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear().toString();
const { author } = websiteConfig;
---

<footer class="footer">
  <p class="copyright">
    Copyright &copy; <time datetime={year}>{year}</time> 🚀 {author}
  </p>
  <SocialLinks items={socialLinks} />
</footer>
