---
import type { Icons } from "@/types/common";
import Icon from "./Icon.astro";

export interface Props {
  icon?: Icons;
  class?: string;
}

const { icon, class: className, ...rest } = Astro.props;
---

<div class:list={["info", className]} {...rest}>
  {icon && <Icon icon={icon} />}
  <slot />
</div>

<style>
  .info {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }
</style>
