---
interface Item {
  name: string;
  path: string;
}

export interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<nav class="navigation" aria-label="Main menu">
  {
    items.map((item) => {
      const isCurrentPage = Astro.url.pathname === item.path;

      return (
        <a
          href={item.path}
          class:list={["navigation-link", { active: isCurrentPage }]}
          aria-current={isCurrentPage ? "page" : false}
          data-astro-prefetch
        >
          {item.name}
        </a>
      );
    })
  }
</nav>
