---
import type { Icons } from "@/types/common";
import Tags from "./Tags.astro";
import Info from "./Info.astro";

export interface Props {
  title: string;
  link: string;
  icon?: Icons;
  description?: string;
  tags?: string[];
}

const { title, link, description, tags } = Astro.props;
---

<article class="post">
  <h3 class="post-title">
    <a class="post-link" href={link} data-astro-prefetch>{title}</a>
  </h3>
  {
    !!tags?.length && (
      <Info class="post-tags" icon="tags">
        <Tags tags={tags} />
      </Info>
    )
  }
  {description && <p class="post-description">{description}</p>}
</article>

<style>
  .post {
    margin-bottom: var(--spacing-3);
  }

  .post-title {
    margin-bottom: var(--spacing-1);
  }

  .post-link {
    text-decoration-line: underline;

    &:is(:hover, :focus-visible) {
      text-decoration-line: none;
    }
  }

  .post-tags {
    margin: var(--spacing-1) 0;
  }

  .post-description {
    margin-top: 0;
  }
</style>
