---
import type { Icons } from "@/types/common";

export interface Props {
  title: string;
  link: string;
  icon?: Icons;
  description?: string;
}

const { title, link, description } = Astro.props;
---

<article class="post">
  <h3 class="post-title">
    <a class="post-link" href={link} data-astro-prefetch>{title}</a>
  </h3>

  {description && <p class="post-description">{description}</p>}
</article>
