---
import type { Icons } from "@/types/common";
import Icon from "./Icon.astro";

interface Item {
  name: string;
  link: string;
  icon: Icons;
}

export interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<div class="social-links">
  {
    items.map(({ link, name, icon }) => (
      <a href={link} class="social-links-item" target="_blank">
        <Icon icon={icon} class="social-links-icon" />
        <span class="sr-only">{name}</span>
      </a>
    ))
  }
</div>

<style>
  .social-links {
    display: flex;
    gap: var(--spacing-4);
  }
</style>
