---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<ul class="tags">
  {tags.map((tag) => <li class="tags-item">{tag}</li>)}
</ul>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-1);
  }

  .tags-item {
    font-size: var(--font-size-sm);
    font-weight: 600;
    padding: 0 var(--spacing-1);
    background-color: light-dark(var(--color-gray-400), var(--color-gray-600));
    color: light-dark(white, var(--color-gray-300));
    border-radius: 0.4em;
    transition: var(--transition-theme);
  }
</style>
