---
import Icon from "./Icon.astro";
---

<button class="theme-toggle" type="button">
  <span class="sr-only">Toggle theme</span>
  <Icon icon="sun" class="theme-toggle-icon light" />
  <Icon icon="moon" class="theme-toggle-icon dark" />
</button>

<style>
  :global([data-theme="light"]) .theme-toggle-icon.dark,
  :global([data-theme="dark"]) .theme-toggle-icon.light {
    display: none;
  }
</style>

<script>
  function toggleTheme() {
    const currentTheme = getCurrentTheme();
    const nextTheme = currentTheme === "light" ? "dark" : "light";

    localStorage.setItem("theme", nextTheme);
    document.documentElement.dataset.theme = nextTheme;
  }

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector(".theme-toggle")
      ?.addEventListener("click", toggleTheme);
  });
</script>
