---
import Icon from "./Icon.astro";
---

<button class="theme-toggle" type="button">
  <Icon icon="sun" class="theme-toggle-icon light" />
  <Icon icon="moon" class="theme-toggle-icon dark" />
  <span class="visually-hidden">Toggle theme</span>
</button>

<style is:global>
  .theme-toggle-icon {
    display: none;
  }

  [data-theme="light"] .theme-toggle-icon.light,
  [data-theme="dark"] .theme-toggle-icon.dark {
    display: block;
  }
</style>

<script>
  function toggleTheme() {
    const currentTheme = getCurrentTheme();
    const nextTheme = currentTheme === "light" ? "dark" : "light";

    localStorage.setItem("theme", nextTheme);
    document.documentElement.dataset.theme = nextTheme;
  }

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector(".theme-toggle")
      ?.addEventListener("click", toggleTheme);
  });
</script>
