*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

::-webkit-scrollbar {
  /* display: none; */
}

html {
  scroll-behavior: smooth;
  image-rendering: pixelated;
}

.container {
  min-height: 500vh;
  overflow-y: auto;
}

.scene {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 15vh;
  background-image: url(../images/wall.webp);
  perspective: 1500px;
  perspective-origin: 50% top;
}

.shelf {
  position: absolute;
  width: min(900px, 80vw);
  height: 50px;
  transform-style: preserve-3d;
}

.shelf::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 90px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #8b8b8b 100%);
  transform: translate(27px, 20px) perspective(20px) rotateX(1deg) skewX(25deg);
  filter: blur(10px);
}

.shelf-side {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.shelf-side-front {
  height: 15px;
  translate: 0 0 100px;
  background: url(../images/wood.webp),
    linear-gradient(0deg, #eeeae6 0%, #fefaf0 100%);
}

.shelf-side-top {
  rotate: x 90deg;
  translate: 0 -100px 0;
  height: 200px;
  background: url(../images/wood.webp),
    linear-gradient(0deg, #f1e8dd 0%, #e5dbcc 100%);
}

.unsupported {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background-color: rebeccapurple;
  padding: 10px;
  font-size: 1.3rem;
}

@supports not (animation-timeline: scroll()) {
  .unsupported {
    display: initial;
  }
}