---
import { getCollection, type CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project: { slug: string }) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<div><Content /></div>
