---
interface Props {
  total: number;
  index?: number;
}

const { index = 1, total } = Astro.props;
---

<div class="book-page-segment" style="--_segment-number: {index}">
  {index < total && <Astro.self index={index + 1} total={total} />}
</div>
