---
import "@/styles/reset.css";
import "@/styles/theme-toggler.css";
import "@/styles/base.css";

import { ClientRouter } from "astro:transitions";
import BaseMeta from "@/components/BaseMeta.astro";
import ThemeSync from "@/components/ThemeSync.astro";
import IconsProvider from "@/components/IconsProvider.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <BaseMeta title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
    <ThemeSync />
  </head>
  <body>
    <IconsProvider />
    <div class="container">
      <Header />
      <main class="content" transition:animate="fade">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
