---
import "@/styles/reset.css";
import "@/styles/base.css";

import { ClientRouter } from "astro:transitions";
import Meta from "@/components/Meta.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ThemeSync from "@/components/ThemeSync.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <Meta title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
    <ThemeSync />
    <link rel="preload" href="/InterVariable-subset.woff2" type="font/woff2" as="font" crossorigin />
  </head>
  <body>
    <div class="container">
      <Header />
      <main transition:animate="fade">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .container {
    width: min(50rem, 100%);
    margin: 0 auto;
    padding: var(--spacing-4);
  }
</style>
