---
import "@/styles/reset.css";
import "@/styles/base.css";

import { ClientRouter } from "astro:transitions";
import BaseMeta from "@/components/BaseMeta.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ThemeSync from "@/components/ThemeSync.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <BaseMeta title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
    <ThemeSync />
    <link
      rel="preload"
      href="/InterVariable-subset.woff2"
      type="font/woff2"
      as="font"
      crossorigin
    />
  </head>
  <body>
    <div class="container">
      <Header />
      <main class="content" transition:animate="fade">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .container {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
    padding: var(--spacing-4);
  }

  .content :global(p) {
    margin: var(--spacing-3) 0;
  }

  .content :global(img) {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
</style>
