---
import "@/styles/demo.css";

import Meta from "@/components/Meta.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <slot />
  </body>
</html>
